.list {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: bold;
}

.sell-input {
    border: none;
    border-radius: 10px;
    height: 30px;
    padding: 12px;
    margin: 12px;
}