<div class="text-dark bg-light rounded">

    <h1 class="font-weight-bold">Agregar juego</h1>
</div>

<mat-dialog-content>
    <form>
        <mat-form-field class="container" appearance="fill">
            <mat-label for="name">Titulo</mat-label>
            <input matInput type="text">
        </mat-form-field>
        <mat-form-field class="container" appearance="fill">
            <mat-label for="name">Stock</mat-label>
            <input matInput type="number">
        </mat-form-field>
        <mat-form-field appearance="fill" class="select">
            <mat-label>Compañía</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field class="container" appearance="fill">
            <mat-label>Fecha de salida</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="container" appearance="fill">
            <mat-label for="name">NIT</mat-label>
            <input matInput type="text">
        </mat-form-field>
        <mat-form-field class="container" appearance="fill">
            <mat-label for="name">Plataforma</mat-label>
            <input matInput type="text">
        </mat-form-field>
        <mat-form-field class="container" appearance="fill">
            <mat-label for="name">Precio</mat-label>
            <input matInput type="number">
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button type="button" class="btn btn-light" (click)="closeDialog()" >Close</button>
    <button type="button" class="btn btn-dark button">Guardar</button>
</mat-dialog-actions>